@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "wicked";
  src: url("./../../public/Bona_Nova_SC/BonaNovaSC-Regular.ttf");
}

* {
  font-family: "wicked", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  margin-top: 10vh;
}

.main-content .imgg {
  z-index: -111;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  top: 0;
  object-fit: cover;
  filter: brightness(50%);
}

.definition {
  margin: 0 auto;
  width: 90%;
  backdrop-filter: blur(10px);
}

.socials a {
  list-style: none;
  text-decoration: none;
  border-radius: 50%;
}

.socials > a > * {
  width: 60px;
  border-radius: 50%;
  background-color: white;
}

.intro {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid gray;
}

.name-des {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.name-des span:nth-child(1) {
  color: white;
  font-style: italic;
  font-weight: 600;
  font-size: 2.2em;
}

.name-des span:nth-child(2) {
  color: white;
  font-weight: 600;
  font-size: 1.2em;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.ca {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
}

.ca span {
  font-size: 1.6em;
}

.hand-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  gap: 30px;
}

.hand-sign span {
  color: white;
  font-size: 2em;
}

.hand-sign .imggg {
  width: 600px;
  height: 600px;
  filter: brightness(100%) !important;
}

@media only screen and (max-device-width: 450px) {
  .intro {
    display: flex;
    flex-direction: column;
  }

  .hand-sign .imggg {
    width: 300px;
    height: 300px;
  }
}
